################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ticket.Api/bin/**
/Ticket.Api/vs/**
/Ticket.ApiTests/obj/**
/Ticket.Api/obj/**
/.vs/GestionTickets/v17/**
/.vs/GestionTickets/DesignTimeBuild/**
